@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .allotment-override {
    --focus-border: transparent;
    --separator-border: #333;
  }
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #d4d4d4;
  overflow: hidden;
}
